/*
 * Performance: to allow high FPS rendering, selectors should be single class (.foo{})
 */


/* Main layout
 * Split screen in half and behave like a real app (no scroll)
 */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.panel-command {
  height: 100px;
  position: relative;
}

.panel-logs {
  background-color: #fafafa;
  position: relative;
  /* vh = viewport height */
  /* 1.2rem and 1px is the statusBar in the footer */
  height: calc(100vh - 100px - 1.2rem - 1px);
}

/* General style */

body {
  /* Try to get the native font of the system (Mac, Windows, Android, ...) */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
}
input, textarea, select { margin: 0; font-family: inherit; font-size: inherit; line-height: inherit; }
* { box-sizing: border-box; }
table { width: 100%; border-collapse: collapse; }
td, th { max-width: 0; /* allow ellipsis on tables */ vertical-align: top; position: relative; }
p { margin-top: 0; margin-bottom: 1rem; }
select { border: none; width: 100%; height: 40px; background-color: white; }
hr { border: 0; border-bottom: 1px solid #dddddd; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-overflow { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; } /* hide last part */
.text-wrap-break { overflow-wrap: break-word; } /* always show last part */
.text-error { color: #F44336; }
.text-sucess { color: #4CAF50; }

.pull-left {float: left;}
.pull-right {float: right;}

.btn { background-color: transparent; border: 0; text-decoration: none; display: inline-block; font-size: 12px; user-select: none; border-radius: 5px;}
.btn:hover {background-color: rgba(0, 0, 0, 0.05);}
.btn.active {background-color: rgba(0, 0, 0, 0.4); color: white;}
.btn.disabled { color: rgba(0, 0, 0, 0.2); }
.btn-block { width: 100%; display: block;}
.btn-half { width: 50%; }
.default-cursor { cursor: default; } /* application feeling */

.form-control { display: block; width: 100%; line-height: 1.25; color: #464a4c; background-color: #fff; border: 1px solid rgba(0,0,0,.15); border-radius: .15rem; }
input:disabled, textarea:disabled, select:disabled { background-color: #eceeef; cursor: no-drop; }

.d-flex { display: flex; }
.hidden { display: none; }

/* filters */

#filters {
  width: 100%;
  padding: 5px;
  background: linear-gradient(#f3f3f3, #dddddd);
  color: #333;
  border-bottom: 1px solid #cacaca;
  height: 75px;
}

.filters-datetime {
  width: 200px;
}
.filters-fields {
  width: calc(100% - 200px);
}

.datetime-helper {
  position: absolute;
  left: calc(100% + 4px);
  color: black;
  top: -6px;
  width: 320px;
  background-color: #f3f3f3;
  border: 1px solid rgb(154, 154, 154);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.datetime-helper-result {
  padding: 10px;
  font-weight: bold;
  background: #007bff;
  color: white;
  border-radius: 4px 4px 0 0;
  margin: -1px;
}

.datetime-helper-memo {
  padding: 10px;
}

.arrow-up-left:before {
  content: '';
  display: block;
  position: absolute;
  right: 100%;
  top: 6px;
  width: 0;
  height: 0;
  border-right-color: #9a9a9a;
  border-radius: 10px;
}
.arrow-up-left:after {
  content: '';
  display: block;
  position: absolute;
  right: 100%;
  top: 7px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-color: #007bff;
}

/* Commands view */

#commands {
  height: 25px;
  border-bottom: 1px solid rgb(202, 202, 202);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.command-bar {
  padding: 0 5px;
  height: 100%;
}

.toolbar {
  display: flex;
}
.toolbar-btn {
  margin: 2px;
}
.toolbar-spacer {
  background-color: #ccc;
  width: 1px;
  margin: 5px 4px;
  height: 16px;
}

.toolbar-live-options {
  transition: width 0.3s;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.4);
  line-height: 24px;
}
.toolbar-live-options.open {
   width: 100%;
}
.toolbar-live-arrow {
  padding: 0 6px;
}

/* Logs view */

#logs {
  height: 100%;
  transition: margin-right 0.3s;
  position: relative;
}
#logs.right-panel-open {
  margin-right: 350px;
}

.table-logs-header {
  background-color: white;
  border-bottom: 1px solid #aaa;
  height: 25px;
  line-height: 22px;
}

.container-table-logs {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 25px; /* table header + 1px border */
  bottom: 0;
  background-color: white;
}

.col-150px {
  width: 150px;
}
.col-100px {
  width: 100px;
}
.col-75px {
  width: 75px;
}
.col-50px {
  width: 50px;
}
.col-100px:last-child, .col-75px:last-child, .col-50px:last-child {
  /* don't set size for the last column so it take the rest available */
  width: initial;
}

.severity-i, .severity-w, .severity-e, .severity-f {
  vertical-align: middle !important;
  font-weight: bold;
}
.severity-i {
  color: #17a2b8;
}
.severity-w {
  color: #ffc107;
}
.severity-e {
  color: #dc3545;
}
.severity-f {
  color: #9c27b0;
}

.cell-bordered {
  padding: 1px 4px;
  border-left: 1px solid #aaa;
  line-height: 18px;
  font-size: 12px;
}
.table-bordered th {
  line-height: 22px;
}
.cell-bordered:first-child {
  border-left: 0;
}

.row-hover:hover {
  background-color: rgba(0,0,0,.075);
}
.row-selected, .row-selected:hover {
  background-color: #007bff;
  color: white;
}

/* inspector */

#inspector {
  transition: width 0.3s;
  width: 0;
  height: 100%;
  float: right;
  overflow: hidden;
  font-size: 12px;
}
#inspector.right-panel-open {
  width: 350px;
}

.inspector-container {
  border-left: 1px solid #aaa;
  width: 350px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f6f6f6;
}
.inspector-default {
  padding: 10px;
}
.inspector-content {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
}
.inspector-table {
  margin-top: 4px;
}
.inspector-cell {
  padding: 2px;
}

/* Status bar */

#statusBar {
  height: 1.2rem;
  background-color: #f6f6f6;
  line-height: 1.2rem;
  border-top: 1px solid black;
  padding: 0 1rem;
}
